<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% extends 'base.html' %}
  
  {% block title %}
    Home
  {% endblock title %}

  {% block content %}
    <h1 class="main-heading">Welcome to My Flask App!</h1>
    <p class="sub-heading">This is the homepage of the Flask app.</p>
    <p class="instructions">You can use the navigation bar above to explore other pages.</p>
  {% endblock %}
</body>
</html>